section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.noticia {
  text-justify: auto;
}
#home {
  padding-top: 10rem;
  background-image: url(../media/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h5 {
  text-align: center;
}

ul.timeline {
  padding-top: 2rem;
  list-style-type: none;
}

.img-fluid{height: 100%; object-fit: cover;}

.row{padding: 5px;}